/.github export-ignore
/AGENTS.md export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.distignore export-ignore
/.stylelintrc.json export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/CHANGELOG.md export-ignore
/docs export-ignore
/eslint.config.mjs export-ignore
/node_modules export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/playwright.config.js export-ignore
/scripts export-ignore
/tests export-ignore
/vendor export-ignore
