<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","className":"site-main","align":"full","anchor":"site-content","layout":{"type":"constrained"}} -->
<main id="site-content" class="wp-block-group alignfull site-main">

	<!-- wp:group {"className":"hfb-store-layout hfb-cart-page","layout":{"type":"constrained"}} -->
	<div class="wp-block-group hfb-store-layout hfb-cart-page">
		<!-- wp:woocommerce/store-notices /-->
		<!-- wp:post-title {"level":1,"className":"page-title"} /-->
		<!-- wp:woocommerce/cart {"align":"wide"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
